.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .sign-in {
    width: 90vw;

  }
}