.authentication {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

@media screen and (max-width: 800px) {
  .authentication {
    flex-direction: column;
    width: unset;
    align-items: center;

    .sign-in {
      margin-bottom: 50px;
    }
  }
}