.authentication {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

@media screen and (max-width: 800px) {
  .authentication {
    flex-direction: column;
    width: unset;
    align-items: center;

    &:first-child {
      margin-bottom: 50px;
    }
  }
}